body {
    background-color: rgb(54,65,82);
    overflow-x: hidden; 
}

header {
    background: rgb(103,115,133);
    padding: 10px;
    border-style: outset;
    border-color: #224770;
}

h1 {
    color: white;
    margin-left: 5px;
    font-size: 20px;
}

label {
    color: white;
    font-size: 20px;
}

div {
    padding: 10px;
}

hr {
    background-color: #000
}

article {
    background: rgb(103,115,133);
    padding: 5px;
    border-style: outset;
    border-color: #224770;
}

nav {
    background: rgb(54,65,82);
    padding: 5px;
    border-style: outset;
    border-color: #224770;
}

.buttonStyle {
    width: 100%;
    background-color: rgb(165,122,255);
    border-color: rgb(165,122,255);
}

.buttonStyle2 {
    background: rgb(165,122,255);
    height: 100px;
    width: 160px;
    margin: 2px;
    border-color: rgb(165,122,255);
}

.buttonStyle3 {
    background-color: rgb(165,122,255);
    border-color: rgb(165,122,255);
}

.floatRight {
    float: right;
}

.inputLimiter {
    width: 235px;
}

.mensagemBemVindo {
    font-size: 40px;
}