<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/CorkBoardCSS.css}" /> 
        <title>CorkBoard Web</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div class="row">
            <div class="col-md-4"></div>
            <header class="col-md-4">
                <center>
                    <input id="idCard" type="hidden" name="idCard" th:value="${idCard}"/>
                    <input id="idUser" type="hidden" name="idUser" th:value="${idUser}"/>
                    <form>
                        <label>Nome:</label>
                        <br/>
                        <input id="nome" class="form-control inputLimiter"></input>
                        <br/>
                        <label>Descrição:</label>
                        <br/>
                        <textarea id="descricao" class="form-control" rows="7"></textarea>
                        <br/>
                        <button onclick="updateCard()" class="btn btn-primary buttonStyle3">Salvar</button>
                        <button onclick="deleteQuadro()" class="btn btn-primary buttonStyle3">Excluir</button>
                    </form>
                </center>
            </header>
            <div class="col-md-4"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/editarJS.js}"></script>
    </body>
</html>
