<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/CorkBoardCSS.css}" /> 
        <title>CorkBoard Web</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div class="row">
            <div class="col-md-3"></div>
            <header class="col-md-6">
                <center>
                    <h1 class="mensagemBemVindo">Bem vindo ao CorkBoard Web</h1>
                </center>
            </header>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <header class="col-md-4">
                <center>
                    <form>
                        <label for="nome">Nome:</label>
                        <br/>
                        <input class="form-control inputLimiter" id="nome"></input>
                        <br/>
                        <label class="" for="senha">Senha:</label>
                        <br/>
                        <input class="form-control inputLimiter" id="senha"></input>
                        <br/>
                        <button onclick="login()" class="btn btn-primary buttonStyle3">Entrar</button>
                        <button onclick="isUserUnique()" class="btn btn-primary buttonStyle3">Cadastrar</button>
                    </form>
                </center>
            </header>
            <div class="col-md-4"></div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/loginJS.js}"></script>
    </body>
</html>
