<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/CorkBoardCSS.css}" /> 
        <title>CorkBoard Web</title>
        <meta charset="UTF-8"></meta>
    </head>
    <body>
        <div class="row"> 
            <div class="col-md-1"></div>
            <div class="col-md-2" > 
                <article class="rounded">
                    <div>
                        <input type="hidden" name="idUser" id="idUser" th:value="${idUser}"/>
                        <input type="hidden" name="idProj" id="idProj" value="0"/>
                        <button onclick="novoProjeto()" type="button" class="btn btn-primary buttonStyle">Novo Projeto</button>
                        <br/>
                        <br/>
                        <button onclick="deleteProjeto()" type="button" class="btn btn-primary buttonStyle">Excluir Projeto</button>
                        <br/>
                        <br/>
                        <hr/>
                        <hr/>
                        <h1 id="currProjeto">Nenhum projeto selecionado</h1>
                        <br/>
                        <button onclick="novoQuadro()" type="button" class="btn btn-primary buttonStyle">Novo Quadro</button>
                        <br/>
                        <br/>
                        <button onclick="updateProjeto()" type="button" class="btn btn-primary buttonStyle">Renomear Projeto</button>
                        <br/>
                        <br/>
                        <input id="novoProjName" class="form-control"></input>
                    </div>
                    <hr/>
                    <hr/>
                    <div id="projetoDiv">
                        <button type="button" class="btn btn-primary buttonStyle">Projeto 1</button> 
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary buttonStyle">Projeto 2</button> 
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary buttonStyle">Projeto 3</button> 
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary buttonStyle">Projeto 4</button> 
                        <br/>
                        <br/>
                        <button type="button" class="btn btn-primary buttonStyle">Projeto 5</button> 
                    </div>
                </article>
            </div> 
            <div class="col-md-8"> 
                <article class="rounded"> 
                    <div id="quadroDiv">
                    </div>
                </article>
            </div> 
            <div class="col-md-1"></div>
        </div> 
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/principalJS.js}"></script>
    </body>
</html>
